<div class="lg:pl-72 max-sm:pl-6 md:pl-6 pr-6">
    <div [style.visibility]="(resolved === false) ? 'hidden' : 'visible' ">
        <!-- row 1 -->
        <!-- <div class="relative flex flex-col min-w-0 break-words shadow-soft-2xl bg-white rounded-2xl mb-1 bg-clip-border">
          <div class="flex-auto p-6"> -->
        <div style="position:-webkit-sticky; position:sticky; top:0;z-index:100;"
          class="relative flex flex-col mb-4 min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
          <div class="flex-auto p-1">
            <div class="wrapper">
              <h5 class="typing-demo font-bold">Apps Link
              </h5>
            </div>
          </div>
        </div>
         <div class="flex flex-wrap -mx-1 lg:-mx-3">
        <!--  <div class="my-1 px-1 w-full max-w-full md:w-4/12 ">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
              <div class="flex-auto p-6">
                <div class="wrapper antialiased text-gray-900">
                  <div style="cursor: pointer;" onclick="window.open('http://192.168.9.47/plan_pdm');">
                    <div class="pb-8">
                      <img src="assets/img/pdmlogo.png" alt=" random imgee"
                      class="w-full object-cover object-center rounded-lg">
                    </div>
                 
                    <div class="relative px-4 -mt-16  ">
                      <div class="bg-gray-200 p-6 rounded-lg shadow-lg">
      
                        <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">PDM CHECKSHEET</h4>
      
                        <div class="mt-1">
                          <span class="text-gray-600 text-sm"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="my-1 px-1 w-full max-w-full md:w-4/12">
            <div class="relative flex flex-col h-full min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
              <div class="flex-auto p-6">
                <div class="wrapper antialiased text-gray-900">
                  <div style="cursor: pointer;" onclick="window.open('http://192.168.9.47/plan_pdm/login');">
                    <div class="pb-6">
                      <img src="assets/img/pdmlogo.png" alt="random image" class="w-full object-cover object-center rounded-lg">
                    </div>
                    <div class="relative px-4 -mt-16  ">
                      <div class="bg-gray-200 p-6 rounded-lg shadow-lg">
                        <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">PDM CHECKSHEET</h4>
                        <div class="mt-1">
                          <span class="text-gray-600 text-sm">PDM CHECKSHEET is an application designed for checking machine conditions in predictive maintenance activities within areas OC1, OC2, and FSB. 
                            It provides essential tools for conducting thorough inspections, ensuring optimal performance, and supporting predictive maintenance strategies.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-1 px-1 w-full max-w-full md:w-4/12">
            <div class="relative flex flex-col h-full min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
              <div class="flex-auto p-6">
                <div class="wrapper antialiased text-gray-900">
                  <div style="cursor: pointer;" onclick="window.open('http://192.168.9.47/plan_am/login');">
                    <div class="pb-6">
                      <img src="assets/img/amclogo.png" alt="random image" class="w-full object-cover object-center rounded-lg">
                    </div>
                    <div class="relative px-4 -mt-16  ">
                      <div class="bg-gray-200 p-6 rounded-lg shadow-lg">
                        <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">AM CHECKSHEET</h4>
                        <div class="mt-1">
                          <span class="text-gray-600 text-sm">AM CHECKSHEET is an application designed for efficient finding data input directly connected to the maintenance planner and SAP data. 
                            It streamlines the process of capturing and managing asset maintenance information, enhancing coordination between planners and SAP systems.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="my-1 px-1 w-full max-w-full md:w-4/12">
            <div class="relative flex flex-col h-full min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
              <div class="flex-auto p-6">
                <div class="wrapper antialiased text-gray-900">
                  <div style="cursor: pointer;" routerLink="/am_checksheet">
                    <div class="pb-6">
                      <img src="assets/img/preprlogo.png" alt="random image" class="w-full object-cover object-center rounded-lg">
                    </div>
                    <div class="relative px-4 -mt-16  ">
                      <div class="bg-gray-200 p-6 rounded-lg shadow-lg">
                        <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">PRE-PR PROD</h4>
                        <div class="mt-1">
                          <span class="text-gray-600 text-sm">The PRE-PR PROD application streamlines the purchasing process by providing tools to manage and edit essential purchasing information. 
                            It plays a crucial role in optimizing procurement operations, ensuring efficient stock management, and facilitating seamless purchasing workflows.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          
          
          <div class="my-1 px-1 w-full max-w-full md:w-4/12">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
                <div class="flex-auto p-6">
                    <div class="wrapper antialiased text-gray-900">
                        <div style="cursor: pointer;">
                            <div class="flex justify-center items-center pb-6"> <!-- Added flex styling here -->
                                <img src="assets/img/suppartlogo.png" class="w-full  object-cover object-center rounded-lg">
                            </div>
                            <div class="relative px-4 -mt-16  ">
                                <div class="bg-gray-200 p-6 rounded-lg shadow-lg">
                                    <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">Supplies & Part</h4>
                                    <div class="mt-1">
                                        <span class="text-gray-600 text-sm">The Supply & Part Menu is an application used to manage and edit information related to supplies and parts. 
                                          It plays a crucial role in the maintenance process by providing tools to efficiently handle inventory, order supplies, and manage parts data.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-1 px-1 w-full max-w-full md:w-4/12 ">
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-6">
              <div class="wrapper antialiased text-gray-900">
                <div style="cursor: pointer;" onclick="window.open('http://192.168.9.47/kluber_lubrication');">
                  <img src="assets/img/3.png" alt=" random imgee"
                    class="w-full object-cover object-center rounded-lg">
                  <div class="relative px-4 -mt-16  ">
                    <div class="bg-gray-200 p-6 rounded-lg shadow-lg">
    
                      <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">LUBRICATION SISTEM</h4>
    
                      <div class="mt-1">
                        <span class="text-gray-600 text-sm">the application is used to edit the lubrication information used
                          in the maintenance process</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
          <div class="my-1 px-1 w-full max-w-full md:w-4/12 ">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
              <div class="flex-auto p-6">
                <div class="wrapper antialiased text-gray-900">
                  <div style="cursor: pointer;" onclick="window.open('comingsoon');">
                    <img src="assets/img/3.png" alt=" random imgee"
                      class="w-full object-cover object-center rounded-lg">
                    <div class="relative px-4 -mt-16  ">
                      <div class="bg-gray-200 p-6 rounded-lg shadow-lg">
      
                        <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">Coming Soon</h4>
      
                        <div class="mt-1">
                          <span class="text-gray-600 text-sm">Coming Soon</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </div>
        </div> -->
      </div>
</div>
  <div  [style.visibility]="(resolved === true) ? 'hidden' : 'visible' ">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="fire">
      <p style="font-size: 20px; color: white">{{deskripsi}}</p>
    </ngx-spinner>
  </div>
  