.wrapper {
    /*This part is important for centering*/
    /* height: 100vh; */
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing  0.5s steps(12), blink .01s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  
  img.animasihf {
    --s: 500px;   /* the size of the image */
    --b: 8px;     /* the border thickness*/
    --g: 14px;    /* the gap */
    --c: #4ECDC4; /* the color */
  
    width: var(--s);
    aspect-ratio: 1;
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.3s;
  }
  img.animasihf:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }
  
  img.animasi + img.animasi {
    border-radius: 50%;
  }
  