<!-- component -->
<div class="bg-gray-100 w-full h-full py-4 overflow-hidden ">

    <div class="max-lg:pl-20 md:pl-[30%] lg:pl-[10%] ">
        <div class="ml-auto mb-6 lg:py-2.5 rounded-lg">
            <!--Alert-->
            <section *ngIf="validateSubmit"
                class="fixed inset-0 bg-[#514c4c35] opacity-100 flex justify-center items-center">
                <div
                    class="w-full h-full md:w-1/4 flex items-center justify-center transition-opacity duration-300 ease-in-out">
                    <div class="flex flex-col p-5 rounded-lg shadow bg-white">
                        <div class="flex flex-col items-center text-center">
                            <div class="inline-block p-4 bg-yellow-50 rounded-full">
                                <svg class="w-12 h-12 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z" />
                                </svg>
                            </div>
                            <h2 class="mt-2 font-semibold text-gray-800">Warning!</h2>
                            <p class="mt-2 text-sm text-gray-600 leading-relaxed">Are you sure you want to cancel the
                                edit? Any unsaved changes will be lost.</p>
                        </div>

                        <div class="flex items-center mt-3">
                            <div type="menu" (click)="validate()"
                                class="text-center flex-1 px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md">
                                Cancel
                            </div>

                            <div type="menu" routerLink="/pr_list"
                                class="text-center flex-1 px-4 py-2 ml-2 bg-yellow-500 hover:bg-yellow-600 text-white text-sm font-medium rounded-md">
                                Agree
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- component -->
            <section class="container mx-auto rounded-lg">
                <div class="flex flex-col mt-6">
                    <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                            <!-- <div class="flex content-end justify-end items-end py-2">
                                    <a routerLink="/pr_input" class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring">
                                        Add Data
                                    </a>
                                </div> -->
                            <div class="max-h-[85vh] overflow-y-auto rounded-xl">
                                <form (submit)="onUpload()" [formGroup]="form"
                                    class="min-w-full bg-white divide-y-2 text-sm py-6 px-8">
                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full md:w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-state">
                                                Finding
                                            </label>
                                            <div class="w-full ">
                                                <input formControlName="finding"
                                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                                    id="grid-last-name" type="text">
                                            </div>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-state">
                                                Photo
                                            </label>
                                            <div class="w-full ">
                                                <input
                                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                                    type="file" (change)="cardChange($event)">
                                                    <img [src]="uploadPhotoSrc" *ngIf="uploadPhotoSrc" style="max-height: 50%; max-width: 50%;" />
                                            </div>
                                        </div>
                                    </div>


                                    <div>
                                        <div>
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-password">
                                                Description
                                            </label>
                                            <div class="flex flex-wrap -mx-3 mb-6">
                                                <div class="w-full md:w-full px-3">
                                                    <input formControlName="finding_description"
                                                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-16 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                                        id="grid-password" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex flex-wrap -mx-3 mb-6">
                                            <div class="w-1/2 px-3">
                                                <label
                                                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                    for="grid-password">
                                                    Tanggal Temuan
                                                </label>
                                                <input formControlName="tanggal_temuan"
                                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                                    id="grid-password" type="date">
                                            </div>
                                        </div>

                                        <div class="flex flex-wrap -mx-3 mb-6">
                                            <div class="w-full md:w-1/2 px-3">
                                                <label
                                                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                    for="grid-state">
                                                    Area
                                                </label>
                                                <div class="flex">
                                                    <select formControlName="id_area"
                                                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500"
                                                        id="grid-state" [(ngModel)]="area" (change)="areaSelect(area)">
                                                        <option value="1">OCI 1</option>
                                                        <option value="2">OCI 2</option>
                                                        <option value="3">FSB</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="w-full md:w-1/2 px-3">
                                                <label
                                                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                    for="grid-state">
                                                    Section
                                                </label>
                                                <div class="flex">
                                                    <select formControlName="id_section"
                                                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500"
                                                        id="grid-state" [(ngModel)]="section"
                                                        (change)="sectionSelect(section)">
                                                        <ng-container *ngFor="let data of sectionlist" class="px-4">

                                                            <option value={{data.section}}>
                                                                {{ data.section }}
                                                            </option>
                                                        </ng-container>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-state">
                                                Func Loc
                                            </label>
                                            <div class="flex">
                                                <select formControlName="func_loc"
                                                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500"
                                                    id="grid-state" [(ngModel)]="area" (change)="areaSelect(area)">
                                                    <option value="1">OCI 1</option>
                                                    <option value="2">OCI 2</option>
                                                    <option value="3">FSB</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full md:w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-state">
                                                Object Part
                                            </label>
                                            <div class="flex">
                                                <select formControlName="object_part"
                                                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500"
                                                    id="grid-state" [(ngModel)]="area" (change)="areaSelect(area)">
                                                    <option value="1">OCI 1</option>
                                                    <option value="2">OCI 2</option>
                                                    <option value="3">FSB</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-state">
                                                Detail Object
                                            </label>
                                            <div class="flex">
                                                <select formControlName="ob_detail"
                                                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500"
                                                    id="grid-state" [(ngModel)]="section"
                                                    (change)="sectionSelect(section)">
                                                    <ng-container *ngFor="let data of sectionlist" class="px-4">

                                                        <option value={{data.section}}>
                                                            {{ data.section }}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full md:w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-state">
                                                Damage Part
                                            </label>
                                            <div class="flex">
                                                <select formControlName="damage"
                                                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500"
                                                    id="grid-state" [(ngModel)]="area" (change)="areaSelect(area)">
                                                    <option value="1">OCI 1</option>
                                                    <option value="2">OCI 2</option>
                                                    <option value="3">FSB</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-state">
                                                Detail Damage
                                            </label>
                                            <div class="flex">
                                                <select formControlName="d_detail"
                                                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500"
                                                    id="grid-state" [(ngModel)]="section"
                                                    (change)="sectionSelect(section)">
                                                    <ng-container *ngFor="let data of sectionlist" class="px-4">

                                                        <option value={{data.section}}>
                                                            {{ data.section }}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-state">
                                                Priority
                                            </label>
                                            <div class="flex">
                                                <select formControlName="level"
                                                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500"
                                                    id="grid-state" [(ngModel)]="area" (change)="areaSelect(area)">
                                                    <option value="1">OCI 1</option>
                                                    <option value="2">OCI 2</option>
                                                    <option value="3">FSB</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full md:w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-state">
                                                Cause Code
                                            </label>
                                            <div class="flex">
                                                <select formControlName="cause_code"
                                                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500"
                                                    id="grid-state" [(ngModel)]="area" (change)="areaSelect(area)">
                                                    <option value="1">OCI 1</option>
                                                    <option value="2">OCI 2</option>
                                                    <option value="3">FSB</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-state">
                                                Detail 
                                            </label>
                                            <div class="flex">
                                                <select formControlName="cc_detail"
                                                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500"
                                                    id="grid-state" [(ngModel)]="section"
                                                    (change)="sectionSelect(section)">
                                                    <ng-container *ngFor="let data of sectionlist" class="px-4">

                                                        <option value={{data.section}}>
                                                            {{ data.section }}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>
                                    </div>      

                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-state">
                                                Kategori
                                            </label>
                                            <div class="flex">
                                                <select formControlName="kategori"
                                                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-100 focus:border-gray-500"
                                                    id="grid-state" [(ngModel)]="area" (change)="areaSelect(area)">
                                                    <option value="1">OCI 1</option>
                                                    <option value="2">OCI 2</option>
                                                    <option value="3">FSB</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-password">
                                                Scope
                                            </label>
                                            <!-- component -->
                                            <div class="grid w-[40rem] grid-cols-2 gap-2 rounded-xl bg-gray-200 p-3">
                                                <div>
                                                    <input formControlName="scope" type="radio" id="1" value="Yes"
                                                        class="peer hidden" checked />
                                                    <label for="1"
                                                        class="block cursor-pointer text-gray-500 select-none rounded-lg p-2 text-center peer-checked:bg-blue-500 duration-200 peer-checked:font-bold peer-checked:text-white">Am</label>
                                                </div>
                                                <div>
                                                    <input formControlName="scope" type="radio" id="2" value="No"
                                                        class="peer hidden" />
                                                    <label for="2"
                                                        class="block cursor-pointer text-gray-500 select-none rounded-lg p-2 text-center peer-checked:bg-blue-500 duration-200 peer-checked:font-bold peer-checked:text-white">Pdm</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                                for="grid-password">
                                                Status
                                            </label>
                                            <!-- component -->
                                            <div class="grid w-[40rem] grid-cols-2 gap-2 rounded-xl bg-gray-200 p-3">
                                                <div>
                                                    <input formControlName="status" type="radio" id="3" value="draft"
                                                        class="peer hidden" checked />
                                                    <label for="3"
                                                        class="block cursor-pointer text-gray-500 select-none rounded-lg p-2 text-center peer-checked:bg-blue-500 duration-200 peer-checked:font-bold peer-checked:text-white">Draft</label>
                                                </div>
                                                <div>
                                                    <input formControlName="status" type="radio" id="4" value="submit"
                                                        class="peer hidden" />
                                                    <label for="4"
                                                        class="block cursor-pointer text-gray-500 select-none rounded-lg p-2 text-center peer-checked:bg-blue-500 duration-200 peer-checked:font-bold peer-checked:text-white">Submit</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex flex-row gap-4 content-end justify-end items-end py-2">
                                        <button type="submit"
                                            class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 duration-200 focus:outline-none focus:ring">
                                            Submit
                                        </button>
                                        <div (click)="validate()"
                                            class="text-center block rounded-lg bg-gray-400 px-5 py-3 text-sm font-medium text-white transition hover:bg-red-700 duration-200 focus:outline-none focus:ring">
                                            Cancel
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <!-- <div class="px-6 pt-6 2xl:container">
              <div class="grid grid-cols-3 gap-4 pt-10 mb-4 max-sm:grid-cols-1  ">
                  <div class="md:col-span-2 lg:col-span-3 position:right" >
                    <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [dataLabels]="chartOptions.dataLabels"
                    [title]="chartOptions.title"
                    [colors]="chartOptions.colors"
                  ></apx-chart>
      
                  </div>
      
              </div>
          </div> -->
        </div>

    </div>
</div>