.entry-login-maissy {
    background: url(../../assets/img/bg-top.svg) top 0 left 0 no-repeat;
    background-size: contain,8%;
    padding-bottom: 60px;
    margin-top: -75px
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}