<div class="max-sm:hidden bg-gray-100 w-screen h-screen py-6 flex flex-col justify-center sm:py-12 "
  style="background-image: url('assets/img/bg-top.svg');">
  <div class="relative py-3 drop-shadow-xl sm:mx-auto ">
    <div class="main">
      <div class="container a-container" id="a-container">
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="w-full flex flex-shrink-0 justify-center items-center">
            <div class="px-2">
              <img src="assets/img/maisytop.png" class="-rotate-12 h-12 w-12" alt="">
            </div>
            <div class="px-2">
              <h2 class="text-2xl font-normal text-gray-600">Welcome to MAISSY Dashboard!</h2>
              <p class="text-sm font-medium text-gray-400 text-end">Please sign in to your account</p>
            </div>
            
           
          </div>
          
          <div class="flex flex-wrap mt-4 px-7 max-sm:px-1 space-y-2">

            <div class="w-full ">
              <!-- <label class="text-[#D89C60] font-manrope" for="nikEmployee">NIK Employee</label> -->
              <input id="nikEmployee" type="text" formControlName="nik" placeholder="NIK"
                class="form__input block w-full px-4 py-2 text-[#D89C60] font-manrope font-semibold bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" />
              <div *ngIf="submitted && f['nik'].errors" class="invalid-feedback">
                <div *ngIf="f['nik'].errors['required']" class="text-red-500 dark:text-red-500 text-sm text-end">
                  NIK is required
                </div>
              </div>
            </div>

            <div class="w-full space-y-1">
              <!-- <label class="text-[#D89C60] font-manrope" for="password">Password</label> -->
              <div class="relative flex items-center">
                <a (click)="changeVisibilityPassword()"
                  class="absolute right-0 focus:outline-none rtl:left-0 rtl:right-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    class="w-6 h-6 mx-4 fill-[#04517481] hover:fill-[#00356b] text-gray-400 transition-colors duration-300 dark:text-gray-500 hover:text-gray-500 dark:hover:text-gray-400">
                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                    <path fill-rule="evenodd"
                      d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                      clip-rule="evenodd" />
                  </svg>
                </a>
                <input id="password" formControlName="password" [type]="this.showPassword ? 'text' : 'password'" placeholder="Password"
                  class="form__input block w-full px-8 py-2 text-[#D89C60] font-manrope font-semibold bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" />
              </div>
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']" class="text-red-500 dark:text-red-500 text-sm text-end">
                  Password is required
                </div>
              </div>
            </div>
          </div>

          <div class="flex justify-center mt-6">
            <button type="submit"
              class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-orange-400 transition duration-300 ease-out border-2 border-orange-300 rounded-full shadow-md group">
              <span
                class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 rounded-full translate-x-full bg-orange-300 group-hover:translate-x-0 ease">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                  </path>
                </svg>
              </span>
              <span
                class="absolute flex items-center justify-center w-full h-full text-orange-300 transition-all duration-300 transform group-hover:translate-x-full ease">Sign
                in</span>
              <span class="relative invisible">Button Text</span>
            </button>
          </div>
        </form>
      </div>
      <div class="container b-container" id="b-container">
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="w-full flex flex-shrink-0 justify-center items-center">
            <div class="px-2">
              <img src="assets/img/amLogo.png" class=" h-12 w-12" alt="">
            </div>
            <div class="px-2">
              <h2 class="text-2xl font-normal text-gray-600">Welcome to AM Checksheet!</h2>
              <p class="text-sm font-medium text-gray-400 text-end">Please sign in to your account</p>
            </div>
            
           
          </div>
          
          <div class="flex flex-wrap mt-4 px-7 max-sm:px-1 space-y-2">

            <div class="w-full ">
              <!-- <label class="text-[#D89C60] font-manrope" for="nikEmployee">NIK Employee</label> -->
              <input id="nikEmployee" type="text" formControlName="nik" placeholder="NIK"
                class="form__input block w-full px-4 py-2 text-blue-500 font-manrope font-semibold bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" />
              <div *ngIf="submitted && f['nik'].errors" class="invalid-feedback">
                <div *ngIf="f['nik'].errors['required']" class="text-red-500 dark:text-red-500 text-sm text-end">
                  NIK is required
                </div>
              </div>
            </div>

            <div class="w-full space-y-1">
              <!-- <label class="text-[#D89C60] font-manrope" for="password">Password</label> -->
              <div class="relative flex items-center">
                <a (click)="changeVisibilityPassword()"
                  class="absolute right-0 focus:outline-none rtl:left-0 rtl:right-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    class="w-6 h-6 mx-4 fill-[#04517481] hover:fill-[#00356b] text-gray-400 transition-colors duration-300 dark:text-gray-500 hover:text-gray-500 dark:hover:text-gray-400">
                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                    <path fill-rule="evenodd"
                      d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                      clip-rule="evenodd" />
                  </svg>
                </a>
                <input id="password" formControlName="password" [type]="this.showPassword ? 'text' : 'password'" placeholder="Password"
                  class="form__input block w-full px-8 py-2 text-blue-500 font-manrope font-semibold bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" />
              </div>
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']" class="text-red-500 dark:text-red-500 text-sm text-end">
                  Password is required
                </div>
              </div>
            </div>
          </div>

          <div class="flex justify-center mt-6">
            <button type="submit"
              class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-blue-400 transition duration-300 ease-out border-2 border-blue-300 rounded-full shadow-md group">
              <span
                class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 rounded-full translate-x-full bg-blue-300 group-hover:translate-x-0 ease">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                  </path>
                </svg>
              </span>
              <span
                class="absolute flex items-center justify-center w-full h-full text-blue-300 transition-all duration-300 transform group-hover:translate-x-full ease">Sign
                in</span>
              <span class="relative invisible">Button Text</span>
            </button>
          </div>
        </form>
      </div>
      <div class="switch" id="switch-cnt">
        <div class="switch__circle"></div>
        <div class="switch__circle switch__circle--t"></div>
        <div class="switch__container" id="switch-c1">
          <p class="text-lg font-bold text-gray-500 leading-relaxed">MAISSY Dashboard!</p>
          <p class="switch__description description">機械の状態とメンテナンスを監視するためのダッシュボード</p>
          <button class="switch__button button switch-btn" (click)="amLogin()">Checksheet</button>
        </div>
        <div class="switch__container is-hidden" id="switch-c2">
          <p class="text-lg text-gray-500 font-bold leading-relaxed">AM Checksheet!</p>
          <p class="switch__description description">メンテナンス中の機械の発見を入力するためのアプリケーション</p>
          <button class="switch__button buttonMaissy switch-btn bg-orange-300" (click)="maissyLogin()">MAISSY</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="md:hidden lg:hidden w-screen h-screen flex flex-col justify-center">
  <div class="relative drop-shadow-xl sm:mx-auto">
    <div class="relative  w-screen bg-white h-screen md:mx-0 shadow sm:p-10 w-96">
      <div class="max-w-md mx-auto px-4">
        <div class="flex items-center space-x-5 pt-32">
          <div class="h-14 w-14 flex flex-shrink-0 justify-center items-center">
            <img src="assets/img/maisytop.png" class="-rotate-12" alt="">
          </div>
          <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
            <h2 class="leading-relaxed font-bold">Sign in</h2>
            <p class="text-sm text-gray-500 font-normal leading-relaxed">Welcome to MAISSY Dashboard!</p>
            <p class="text-sm text-gray-500 font-normal leading-relaxed">Please sign in to your account</p>
          </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="flex flex-wrap mt-4 px-7 max-sm:px-1 space-y-2">

            <div class="w-full space-y-1">
              <label class="text-[#D89C60] font-manrope" for="nikEmployee">NIK Employee</label>
              <input id="nikEmployee" type="text" formControlName="nik"
                class="block w-full px-4 py-2 text-[#D89C60] font-manrope font-semibold bg-white border border-gray-300 rounded-md focus:border-orange-400 focus:ring-orange-300 focus:ring-opacity-40 focus:outline-none focus:ring" />
              <div *ngIf="submitted && f['nik'].errors" class="invalid-feedback">
                <div *ngIf="f['nik'].errors['required']" class="text-red-500 dark:text-red-500 text-sm text-end">
                  NIK is required
                </div>
              </div>
            </div>

            <div class="w-full space-y-1">
              <label class="text-[#D89C60] font-manrope" for="password">Password</label>
              <div class="relative flex items-center">
                <a (click)="changeVisibilityPassword()"
                  class="absolute right-0 focus:outline-none rtl:left-0 rtl:right-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    class="w-6 h-6 mx-4 fill-[#04517481] hover:fill-[#00356b] text-gray-400 transition-colors duration-300 dark:text-gray-500 hover:text-gray-500 dark:hover:text-gray-400">
                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                    <path fill-rule="evenodd"
                      d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                      clip-rule="evenodd" />
                  </svg>
                </a>
                <input id="password" formControlName="password" [type]="this.showPassword ? 'text' : 'password'"
                  class="block w-full px-4 py-2 text-[#D89C60] font-manrope font-semibold bg-white border border-gray-300 rounded-md focus:border-orange-400 focus:ring-orange-300 focus:ring-opacity-40 focus:outline-none focus:ring" />
              </div>
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']" class="text-red-500 dark:text-red-500 text-sm text-end">
                  Password is required
                </div>
              </div>
            </div>

            <!-- <div>
              <label
                class="text-[#D89C60] font-manrope "
                for="passwordConfirmation"
                >Password Confirmation</label
              >
              <input
                id="passwordConfirmation"
                type="password"
                class="block w-full px-4 py-2 mt-2 text-[#D89C60] font-manrope bg-white border border-gray-300 rounded-md    focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40  focus:outline-none focus:ring"
              />
            </div> -->
          </div>

          <div class="flex justify-center mt-6">
            <button type="submit"
              class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-orange-400 transition duration-300 ease-out border-2 border-orange-300 rounded-full shadow-md group">
              <span
                class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 rounded-full translate-x-full bg-orange-300 group-hover:translate-x-0 ease">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                  </path>
                </svg>
              </span>
              <span
                class="absolute flex items-center justify-center w-full h-full text-orange-300 transition-all duration-300 transform group-hover:translate-x-full ease">Sign
                in</span>
              <span class="relative invisible">Button Text</span>
            </button>
          </div>
        </form>
        <div class="block pl-2 font-semibold text-xl self-start text-gray-700 pt-4 max-sm:pb-4">
          <p class="text-sm text-gray-500 font-normal leading-relaxed text-center">Copyright © 2023-2024 <a
              href="https://www.aio.co.id/" class="hover:text-cyan-700 duration-200">AIO</a></p>
        </div>
      </div>
    </div>
  </div>
</div>