<!-- component -->
<!--
  UI Design Prototype
  Link : https://dribbble.com/shots/10452538-React-UI-Components
-->
<div class="bg-gray-100 w-screen h-screen py-6 flex flex-col justify-center sm:py-12 " style="background-image: url('../../assets/img/bg-top.svg');">
    <div class="relative py-3 drop-shadow-xl sm:mx-auto " >
      <div class="relative bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10 w-96" >
        <div class="max-w-md mx-auto">
          <div class="flex items-center space-x-5 max-sm:px-4 pt-6">
            <div class="h-14 w-14 flex flex-shrink-0 justify-center items-center">
                <img src="./../../assets/img/maisytop.png" class="-rotate-12" alt="">
            </div>
            <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
              <h2 class="leading-relaxed font-bold">Sign in</h2>
              <p class="text-sm text-gray-500 font-normal leading-relaxed">Welcome to MAISSY Dashboard!</p>
              <p class="text-sm text-gray-500 font-normal leading-relaxed">Please sign in to your account</p>
            </div>
          </div>
          <div class="divide-y divide-gray-200 max-sm:px-4">
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <div class="flex flex-col">
                <label class="leading-loose font-sans">Username</label>
                <input type="text" class="px-4 py-2 border w-full bg-gray-100 border-gray-400 sm:text-sm border-gray-100 rounded-xl focus:outline-none text-gray-600" placeholder="Enter your username/NIK">
              </div>
              <div class="flex flex-col">
                <label class="leading-loose">Password</label>
                <input type="text" class="px-4 py-2 border w-full bg-gray-100 border-gray-400 sm:text-sm border-gray-100 rounded-xl focus:outline-none text-gray-600" placeholder="Enter your password">
              </div>
            </div>
            <div class="pt-4 flex items-center space-x-4">
                <button class="bg-cyan-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-full focus:outline-none hover:bg-cyan-700 duration-200 drop-shadow-xl">Sign in</button>
            </div>
          </div>
          <div class="block pl-2 font-semibold text-xl self-start text-gray-700 pt-4 max-sm:pb-4">
            <p class="text-sm text-gray-500 font-normal leading-relaxed text-center">Copyright © 2023-2024 <a href="https://www.aio.co.id/" class="hover:text-cyan-700 duration-200">AIO</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>