<!-- component -->
<div class="bg-gray-100 w-screen h-screen">
    <div class="max-lg:pl-20 lg:pl-[10%]">
        <div class="ml-auto mb-6  ">
            <div class="sticky z-10 top-0 h-16  lg:py-2.5 rounded-lg">
                <!-- <div class="px-6 flex items-center justify-between space-x-4 2xl:container">
                  <h5 hidden class="text-2xl text-gray-600 font-medium lg:block">Dashboard</h5>
      
              </div> -->
            </div>

            <!-- component -->
            <section class="container mx-auto">

                <div class="flex flex-col mt-6">
                    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                            <div class="overflow-x-auto">
                                <div class="flex content-end justify-end items-end py-2">
                                    <button class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring">
                                        Add Data
                                    </button>
                                </div>
                                <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm rounded-xl">
                                    <thead class="ltr:text-left rtl:text-right">
                                        <tr>
                                            <th scope="col" rowspan="2" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                No
                                            </th>
                                            <th scope="col" rowspan="2" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                Item Description
                                            </th>
                                            <th colspan="2" scope="col" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                Request By
                                            </th>
                                            <th  scope="col" rowspan="2" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                Due Date
                                            </th>
                                            <th  scope="col" rowspan="2" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                Reason
                                            </th>
                                            <th  scope="col" rowspan="2" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                PR Number
                                            </th>
                                            <th colspan="2" scope="col" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                Vendor 1
                                            </th>
                                            <th colspan="2" scope="col" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                Vendor 2
                                            </th>
                                            <th  scope="col" rowspan="2" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                Bidding
                                            </th>
                                            <th  scope="col" rowspan="2" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                Keterangan
                                            </th>
                                        </tr>
                                        <tr>
                                            <th scope="col"
                                                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">PIC</th>
                                            <th scope="col"
                                                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Section /
                                                Area</th>
                                            <th scope="col"
                                                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Name</th>
                                            <th scope="col"
                                                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Value</th>
                                            <th scope="col"
                                                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Name</th>
                                            <th scope="col"
                                                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Value</th>
                                        </tr>
                                    </thead>

                                    <tbody class="divide-y divide-gray-200 text-center">
                                        <tr class="odd:bg-gray-50">
                                            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 ">
                                                1
                                            </td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                        </tr>

                                        <tr class="odd:bg-gray-50">
                                            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                2
                                            </td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                        </tr>

                                        <tr class="odd:bg-gray-50">
                                            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                                3
                                            </td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">tes</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <!-- <div class="px-6 pt-6 2xl:container">
              <div class="grid grid-cols-3 gap-4 pt-10 mb-4 max-sm:grid-cols-1  ">
                  <div class="md:col-span-2 lg:col-span-3 position:right" >
                    <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [dataLabels]="chartOptions.dataLabels"
                    [title]="chartOptions.title"
                    [colors]="chartOptions.colors"
                  ></apx-chart>
      
                  </div>
      
              </div>
          </div> -->
        </div>

    </div>
</div>